@define-color wb-bg             #1e1e2e;
@define-color wb-bg-dark        #181825;
@define-color wb-bg-highlight   #313244;
@define-color wb-bg-popup       #1e1e2e;
@define-color wb-fg             #cdd6f4;
@define-color wb-fg-dark        #a6adc8;
@define-color wb-fg-gutter      #45475a;
@define-color wb-border         #45475a;
@define-color wb-accent         #89b4fa;
@define-color wb-accent-alt     #94e2d5;
@define-color wb-accent-bright  #a6e3a1;
@define-color wb-red            #f38ba8;
@define-color wb-orange         #fab387;
@define-color wb-yellow         #f9e2af;
@define-color wb-green          #a6e3a1;
@define-color wb-cyan           #94e2d5;
@define-color wb-blue           #89b4fa;
@define-color wb-magenta        #f5c2e7;
@define-color wb-purple         #cba6f7;
