@define-color wb-bg             #282828;
@define-color wb-bg-dark        #1d2021;
@define-color wb-bg-highlight   #3c3836;
@define-color wb-bg-popup       #32302f;
@define-color wb-fg             #ebdbb2;
@define-color wb-fg-dark        #d5c4a1;
@define-color wb-fg-gutter      #504945;
@define-color wb-border         #665c54;
@define-color wb-accent         #83a598;
@define-color wb-accent-alt     #7c6f64;
@define-color wb-accent-bright  #8ec07c;
@define-color wb-red            #fb4934;
@define-color wb-orange         #fe8019;
@define-color wb-yellow         #fabd2f;
@define-color wb-green          #b8bb26;
@define-color wb-cyan           #8ec07c;
@define-color wb-blue           #83a598;
@define-color wb-magenta        #d3869b;
@define-color wb-purple         #b16286;
