@define-color wb-bg             #000000;
@define-color wb-bg-dark        #101112;
@define-color wb-bg-highlight   #222222;
@define-color wb-bg-popup       #222222;
@define-color wb-fg             #b0b3b4;
@define-color wb-fg-dark        #b0b3b4;
@define-color wb-fg-gutter      #6f7273;
@define-color wb-border         #6f7273;
@define-color wb-accent         #005577;
@define-color wb-accent-alt     #5a4f86;
@define-color wb-accent-bright  #4f7f8f;
@define-color wb-red            #a02a2a;
@define-color wb-orange         #8f6b3e;
@define-color wb-yellow         #8f6b3e;
@define-color wb-green          #2f6f4e;
@define-color wb-cyan           #4f7f8f;
@define-color wb-blue           #005577;
@define-color wb-magenta        #5a4f86;
@define-color wb-purple         #5a4f86;
