@define-color wb-bg             #2e3440;
@define-color wb-bg-dark        #3b4252;
@define-color wb-bg-highlight   #434c5e;
@define-color wb-bg-popup       #3b4252;
@define-color wb-fg             #d8dee9;
@define-color wb-fg-dark        #e5e9f0;
@define-color wb-fg-gutter      #4c566a;
@define-color wb-border         #4c566a;
@define-color wb-accent         #88c0d0;
@define-color wb-accent-alt     #81a1c1;
@define-color wb-accent-bright  #8fbcbb;
@define-color wb-red            #bf616a;
@define-color wb-orange         #d08770;
@define-color wb-yellow         #ebcb8b;
@define-color wb-green          #a3be8c;
@define-color wb-cyan           #8fbcbb;
@define-color wb-blue           #81a1c1;
@define-color wb-magenta        #b48ead;
@define-color wb-purple         #5e81ac;
