@define-color wb-bg             #282c34;
@define-color wb-bg-dark        #21252b;
@define-color wb-bg-highlight   #2c313c;
@define-color wb-bg-popup       #2a2f3a;
@define-color wb-fg             #abb2bf;
@define-color wb-fg-dark        #a0a8b7;
@define-color wb-fg-gutter      #3a3f4b;
@define-color wb-border         #3e4451;
@define-color wb-accent         #61afef;
@define-color wb-accent-alt     #56b6c2;
@define-color wb-accent-bright  #98c379;
@define-color wb-red            #e06c75;
@define-color wb-orange         #d19a66;
@define-color wb-yellow         #e5c07b;
@define-color wb-green          #98c379;
@define-color wb-cyan           #56b6c2;
@define-color wb-blue           #61afef;
@define-color wb-magenta        #c678dd;
@define-color wb-purple         #be5046;
