@define-color wb-bg             #002b36;
@define-color wb-bg-dark        #073642;
@define-color wb-bg-highlight   #0a3944;
@define-color wb-bg-popup       #073642;
@define-color wb-fg             #839496;
@define-color wb-fg-dark        #586e75;
@define-color wb-fg-gutter      #073642;
@define-color wb-border         #586e75;
@define-color wb-accent         #268bd2;
@define-color wb-accent-alt     #2aa198;
@define-color wb-accent-bright  #859900;
@define-color wb-red            #dc322f;
@define-color wb-orange         #cb4b16;
@define-color wb-yellow         #b58900;
@define-color wb-green          #859900;
@define-color wb-cyan           #2aa198;
@define-color wb-blue           #268bd2;
@define-color wb-magenta        #d33682;
@define-color wb-purple         #6c71c4;
