@define-color wb-bg             #1a1b26;
@define-color wb-bg-dark        #16161e;
@define-color wb-bg-highlight   #292e42;
@define-color wb-bg-popup       #1f2335;
@define-color wb-fg             #c0caf5;
@define-color wb-fg-dark        #a9b1d6;
@define-color wb-fg-gutter      #3b4261;
@define-color wb-border         #414868;
@define-color wb-accent         #7aa2f7;
@define-color wb-accent-alt     #565f89;
@define-color wb-accent-bright  #2ac3de;
@define-color wb-red            #f7768e;
@define-color wb-orange         #ff9e64;
@define-color wb-yellow         #e0af68;
@define-color wb-green          #9ece6a;
@define-color wb-cyan           #7dcfff;
@define-color wb-blue           #7aa2f7;
@define-color wb-magenta        #bb9af7;
@define-color wb-purple         #9d7cd8;
