@define-color wb-bg             #1a1b26;
@define-color wb-fg             #a9b1d6;
@define-color wb-accent         #7aa2f7;
@define-color wb-accent-alt     #565f89;
@define-color wb-accent-bright  #2ac3de;
