/* Combine pywal colors + base layout */

@import "~/.config/rofi/colors-from-css.rasi"
@import "~/.config/rofi/theme-base.rasi"
//@import "~/.config/rofi/theme-gruvbox.rasi"
//@import "~/.config/rofi/theme-tokyo-night.rasi"
