/* Combine pywal colors + base layout */

//@import "~/.cache/wal/colors-rofi.rasi"
@import "~/.config/rofi/theme-base.rasi"
//@import "~/.config/rofi/theme-gruvbox.rasi"
@import "~/.config/rofi/theme-tokyo-night.rasi"
